.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.sideBar{
    flex: 15% 0 0;
    background-color: black;
}
.adminLayout{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
}
.body{
    width: 100%;
    margin-top: 130px;
}
.adminBody{
    width:83%
}
